.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: #0000ff;
  transition: width 2s, height 4s, background-color 2s, transform 2s;
  /* transition-duration: 1s; */
}
.box:hover {
  background-color: #ffcccc;
  width: 200px;
  height: 200px;
  /* transform: rotate(180deg); */
}
